@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-grey-0: #fff;
  --color-grey-50: color-mix(in oklab, var(--color-grey-500), white 95%);
  --color-grey-100: color-mix(in oklab, var(--color-grey-500), white 90%);
  --color-grey-200: color-mix(in oklab, var(--color-grey-500), white 80%);
  --color-grey-300: color-mix(in oklab, var(--color-grey-500), white 70%);
  --color-grey-400: color-mix(in oklab, var(--color-grey-500), white 60%);
  --color-grey-500: oklch(82% 0.05 250);
  --color-grey-600: color-mix(in oklab, var(--color-grey-500), black 10%);
  --color-grey-700: color-mix(in oklab, var(--color-grey-500), black 20%);
  --color-grey-800: color-mix(in oklab, var(--color-grey-500), black 30%);
  --color-grey-900: color-mix(in oklab, var(--color-grey-500), black 40%);
  --color-grey-950: color-mix(in oklab, var(--color-grey-500), black 50%);
  --color-grey-1000: #000;

  --color-canvas: light-dark(var(--color-grey-50), var(--color-grey-900));
  --color-canvas2: light-dark(var(--color-grey-100), var(--color-grey-800));
  --color-canvas-text: light-dark(var(--color-grey-900), var(--color-grey-50));
  --color-border: light-dark(var(--color-grey-200), var(--color-grey-600));

  /* --color-brand: light-dark(var(--color-primary-500), var(--color-primary-400)); */
  --color-brand: #3881ff;
  --color-brand-light: color-mix(in oklab, var(--color-brand), white 10%);
  --color-brand-dark: color-mix(in oklab, var(--color-brand), black 10%);

  --text-h1: 26px;
  --text-h1--line-height: 1;
  --text-h1--font-weight: 600;
  --text-h2: 22px;
  --text-h2--line-height: 1;
  --text-h2--font-weight: 600;
  --text-h3: 18px;
  --text-h3--line-height: 1;
  --text-h3--font-weight: 600;

  --text-body: 16px;
  --text-body--line-height: 1.2;
  --text-body--font-weight: 400;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  accent-color: var(--color-brand);

  @apply bg-gradient-to-br sm:bg-gradient-to-tr from-canvas via-canvas to-canvas-text/10 text-canvas-text text-body;
}

html,
body {
  height: 100dvh;
}

/* html:has(dialog[open]) {
  overflow: hidden;
} */

dialog::backdrop {
  @apply bg-canvas/10;
  backdrop-filter: blur(5px);
}

@layer components {
  .section {
    @apply p-4 rounded-2xl border border-border mb-6;
  }
}
